* {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #1F2937;
    
}

.header {
    height: 54px;
    display: flex;
    margin-left: 240px;
    margin-right: 240px;
}
.logo, .boxlink {
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    flex: 1;
    display: flex;
    align-items: center;
    gap: 8px;
}
.logo{
    padding-right: 60px;
    font-weight: bold;
    justify-content: left;
}
.link {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: right;
}





.maintitle {
    display: flex;
    margin: 120px 240px 120px 240px;
}
.maintitle .title, .maintitle .pictitle {
    background-color: #1F2937;
    justify-content: center;
    flex: 1;
}
.maintitle .pictitle {
    display: flex;
    justify-content: center;
    align-items: center;
}
.maintitle .pictitle img{
    max-width: 100%;
    max-height: 100%;
    align-items: center;
}
h1 {
    background-color: #1F2937;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    flex: 1;
    display: flex;
} 
.maintitle .title p {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    flex: 1;
    display: flex;
} 
.title a {
    display: inline-flex;
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 6px 24px 6px 24px;
    align-items: center;
    font-weight: 900;
    border-radius: 6px;
}



.infos {
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
}
.box {
    background-color: white;
    padding: 0 240px 0 240px;
    margin: 0 60px 0 60px;
}
.box.one {
    color: #1F2937;
    font-size: 36px;
    margin-top: 45px;
    margin-bottom: 45px;
}
.box.two {
    display: flex;
    gap: 40px;
    margin-bottom: 90px;
}
.box.two .pic{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
}
.box.two .pic img{
    aspect-ratio: 1/1; 
    width: 100%;
    max-width: 180px;
    border: 4px solid #3882F6; 
    border-radius: 20px;
}
.box.two .pic p {
    background-color: white;
    font-size: 18px;
    color: #1F2937;
    text-align: center;
}